html{
    font-size: 100%;
}

#description{
    background: rgb(228, 228, 228);
}

img.logo{
    margin: 5px;
}

img.rounded-circle{
    width: 125px;
}

footer{
    background: blue;
    padding-top: 5px;
}

h2{
    font-size: 1.25rem;
}

h2+p{
    font-size: 0.75rem;
}

a{
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 0.75rem;
}

div.col-6>h1{
    text-align: center;
}

div.col-4>p{
    text-align: center;
}
div.col-4>button{
    margin-bottom: 15px;
}

ul{
    list-style: none;
    padding-left: 0px;
}